td, th {
    padding: 5px 10px;
}
table, td, th {
    border: 1px solid white;
}
table {
    border-collapse: collapse;
    font-size:22pt;
    background:rgba(223, 220, 215, 0.8);
}
.dark{
	background:rgba(236, 232, 221, 0.6);
}