#twCounty{
	font-size:22pt;
    border-radius:12px;
    width:95pt;
    text-align:center;
    margin:20 0 0 103pt;
}
#twDistrict{	
	font-size:22pt;
    border-radius:12px;
    width:95pt;
    text-align:center;
}