<html>
	<head>
		<title>疫苗預約平台</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/menu.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="js/people.js"></script>
		<script>
			verifyLogin(getToken());
		</script>
		<style>
			#page{
				display: flex;
				justify-content: center;
				align-content: center;
				flex-wrap: wrap;
			}
			.choiceBtn{
				margin: 0 15 0 15;
			}
			#left_btn_a{
				display:none;
			}
		    .main-header {
				width: 472px;
				left: calc(calc(100% - 472px)/2);
			}
		</style>
	</head>
	<body>
		<div id="page">
			<input type="checkbox" id="navbarToggle">
	        <header class="main-header">
	          <div class="containerM">
	            <nav>
	              <ul class="main-menu">
	                <li id="firstLi"><a href="search">查詢</a></li>
	                <li><a href="informationSheet">接種須知</a></li>
	                <li><a href="simulation">模擬資料</a></li>
	                <li><a href="javascript:void(0)" onclick=logout()>登出</a></li>
	              </ul>
	            </nav>
	            <label for="navbarToggle" class="navbarToggle">
	                <span id="icon" class="entypo-down-open"></span>
	                <span id="icon" class="entypo-up-open"></span>
	            </label>
	          </div>
	        </header>
			<a href="register" id="left_btn_a" title="意願登記"><div class="choiceBtn" id="left_btn">意願登記</div></a>
			<a href="search" title="查詢"><div class="choiceBtn">查詢</div></a>
			<a href="informationSheet" title="接種須知"><div class="choiceBtn">接種須知</div></a>
			<a href="simulation" title="模擬資料產生"><div class="choiceBtn">模擬資料</div></a>
		</div>
		<div id="footer">Copyright © 2022 LAI,MU-WEI. All rights reserved.</div>
	</body>
	<script type="text/javascript">
		register=getRegistered(getToken());
	</script>
</html>